.gradient-text {
  background: linear-gradient(
    90.26deg,
    #0035e2 60.1%,
    #4364f7 70.66%,
    #6fb1fc 80.22%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  > span {
    background: #000;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.black-button {
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  border-radius: 20px;
  font-weight: 600;
  background: #000;
  color: #fff;
  border: 1px solid #000;
}

.bordered-button {
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  border-radius: 20px;
  font-weight: 600;
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

.black-button.border-white,
.bordered-button.border-white {
  border-color: #fff;
}

.black-button.big,
.bordered-button.big {
  height: 38px;
  padding: 0px 10px;
}

.black-button.small,
.bordered-button.small {
  height: 28px;
  padding: 0px 10px;
}

.black-button.small-x,
.bordered-button.small-x {
  height: 24px;
  padding: 0px 4%;
}

.bordered-button.danger {
  border: 1px solid #ff0000;
  color: #ff0000;
}

.slider-container {
  position: relative;
  overflow: hidden;
}

.slide-btn {
  width: 30px;
  height: 100%;
  background: #f5f5f7;
  z-index: 9999;

  > span {
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    color: #222;
  }
}

.slide-btn:first-child {
  left: 0;
}

.slide-btn:last-child {
  right: 0;
}

.slider {
  scroll-snap-type: mandatory;
  scroll-snap-points-x: repeat(100%);
  scroll-snap-type: x mandatory;
  overflow-x: auto;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider-item {
  scroll-snap-align: center;
  flex: 0 0 calc(100% / 3);
  padding: 0 10px;
  gap: 20px !important;
}

.slide-img-box {
  position: relative;
  aspect-ratio: 1/1.4;
  overflow: hidden;
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.more-imgs {
  position: absolute;
  left: 0;
  top: -120%;
  transition: all 0.3s linear;
  background: #00000070;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  > img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
  }
}

.more-imgs .slider-container-fullscreen {
  display: none;
}

.more-imgs .slide-btn {
  display: none;
}

.fullscreen > img,
.fullscreen > ._result-body {
  display: none;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}

.slider-container-fullscreen {
  width: 37%;
  position: relative;
  overflow: hidden;
}

.text-result_body .slider-container-fullscreen {
  width: 440px;
}

.fullscreen .slider-container-fullscreen {
  display: flex;
}

.fullscreen .slide-btn {
  display: flex;
  background: transparent;
}

#fullscreen-slide-prev {
  left: 27%;
}

#fullscreen-slide-next {
  right: 27%;
}

.slider-container-fullscreen .slider-fullscreen {
  width: 540px;
  scroll-snap-type: mandatory;
  scroll-snap-points-x: repeat(100%);
  scroll-snap-type: x mandatory;
  overflow-x: auto;
}

.slider-fullscreen::-webkit-scrollbar {
  display: none;
}

.slider-container-fullscreen .slider-item-fullscreen {
  scroll-snap-align: center;
  flex: 0 0 100%;
  height: 100%;
  padding: 0 10px;
}

.slide-img-box:hover .more-imgs {
  top: 0;
}

.slider-item > figcaption {
  padding: 20px 20px 15px;
  background: #fff;
  box-shadow: 0px 5px 30px 0px #00000008;
  opacity: 0.8;
  font-size: 14px;
  > p > span {
    font-size: 12px;
    opacity: 0.5;
  }

  b {
    font-weight: 600 !important;
  }

  > span {
    font-weight: 300;
    font-size: 10px;
    opacity: 0.8;
  }
}

.close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
}

/* ============ subscribe modal ============ */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  padding: 20px;
  background: #00000080;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 999999;
}

.subscribe-content {
  width: 80%;
  position: relative;
  padding: 40px;
  background: #f5f5f7;
}

.subscribe-form {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 15px;
}

.subscribe-info {
  grid-area: 1 / 1 / 1 / 6;
  background: #fff;
  height: 127px;
  box-shadow: 0px 5px 20px 0px #00000008;
}

.subscribe-img {
  grid-area: 2 / 1 / 5 / 6;
  overflow: hidden;
  height: 321px;

  > img {
    object-fit: cover;
  }
}

.subscribe-payment {
  grid-area: 1 / 6 / 5 / 9;
  background: #fff;
  height: 463px;
  padding: 40px 30px;
  box-shadow: 0px 5px 20px 0px #00000008;
}

._payment-body > label {
  align-items: flex-start;
}

._payment-option {
  border: 1px solid #000;
  height: 56px;

  > div > p {
    margin-top: -3px;
  }
}

._payment-option.small {
  height: 40px;
  border: 1px solid #0006;

  .fa-circle-check {
    display: none;
  }
}

._payment-option.small.active {
  border: 1px solid #000;

  .fa-circle-check {
    display: flex;
  }

  .fa-circle {
    display: none;
  }
}

._paymen_type {
  background: #0057ff0f;
  border-radius: 8px;
}

.payment-options {
  > img {
    width: 60px;
    height: 32px;
    border-radius: 5px;
    box-shadow: 0px 0px 16px 0px #0000000f;
  }
}

.subscribe-close,
.forgot-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
}
/* ============ subscribe modal ============ */

/* ============== forgot password ============== */
.forget-password {
  width: 500px;
  position: relative;
  padding: 40px;
  background: #f5f5f7;
}

.forget-password.change {
  width: 690px;
}

.forget-password-form {
  padding: 30px;
  background: #fff;

  p {
    letter-spacing: 1px;
  }
}

.form > input,
.unsubscribe-form input {
  border: 1px solid #00000070;
}

/* ============== forgot password ============== */

.tooltip {
  position: relative;
  width: 28px;
  height: 28px;
}

.tooltip-body {
  position: absolute;
  top: 0%;
  left: 135%;
  width: 170px;
  padding: 15px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  background: #fff;
  color: #000;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 9999;
  box-shadow: 0px 2px 10px 0px #0000001a;
  
  input:not(.range-slider__range-small) {
    width: 0;
    height: 0;
  }

  .close-tooltip {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .close-tooltip:hover {
    opacity: 1;
  }
}

.tooltip.active .tooltip-body {
  opacity: 1;
  visibility: visible;
}

.tooltip.active,
.tooltip:active {
  background: #d9d9d9;
}

.color-option {
  width: 16px;
  height: 16px;
  border: 4px solid;
  border-radius: 50%;
}

.color-option.active {
  background: #fff !important;
}

.text-bg-color {
  > span {
    padding: 0 3px;
    font-size: var(--fs5);
    color: #0035e2;
    border-bottom: 3px solid #0035e2;
  }
  > input {
    display: none;
  }
}

.text-del.passive,
.text-underline.passive,
.format-clear.passive {
  opacity: 0.6;
}

.pagination,
.pagination-fullscreen {
  display: none !important;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.pagination > span,
.pagination-fullscreen > span {
  width: 5px;
  height: 5px;
  background: lightgray;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.pagination-fullscreen {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  display: none;
}

.pagination > span.active,
.pagination-fullscreen > span.active {
  background: #333;
}

@media (max-width: 430px) {
  .more-imgs {
    top: 0;
    opacity: 0;
    visibility: hidden;
  }

  .more-imgs.fullscreen {
    opacity: 1;
    visibility: visible;
  }

  .slide-img-box:hover .more-imgs {
    top: 0;
  }

  .slider-container {
    padding: 0 0px;
  }

  .slide-btn {
    display: none !important;
  }

  .slider {
    gap: 20px;
  }

  .slider-item {
    flex: 0 0 80%;
    margin: 0;
  }

  .fullscreen .slider-container-fullscreen {
    width: 100%;
    height: 420px;
    padding: 10px;
  }

  .slider-container-fullscreen .slider-fullscreen {
    width: 328px;
    height: 420px;
  }

  .slider-item {
    flex: 0 0 100%;
    padding: 0 0px;
  }

  .more-imgs {
    flex-direction: column !important;
  }

  #fullscreen-slide-prev,
  #fullscreen-slide-next,
  #slide-prev,
  #slide-next {
    display: none;
  }

  .pagination,
  .pagination-fullscreen {
    display: flex;
  }

  .subscribe-content {
    width: 100%;
    padding: 30px 20px;

    > h4 {
      font-size: 20px;
    }
  }

  .subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subscribe-info {
    height: 223px;
    justify-content: center;
    padding: 30px 20px;
    text-align: center;
    gap: 15px !important;
  }

  ._advantages {
    flex-direction: column-reverse;
  }

  .subscribe-img {
    display: none;
  }

  .subscribe-payment {
    height: 390px;
    padding: 30px 20px;
  }

  ._payment-option {
    border: 1px solid #000;
    height: 44px;
    padding: 0 10px !important;

    p,
    i {
      font-size: 14px;
    }

    i {
      margin-top: -2px;
    }
  }

  ._paymen_type {
    height: 44px;
  }

  .subscribe-close,
  .forgot-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
  }

  .forget-password {
    width: 100%;
  }

  .forget-password.change {
    width: 100%;
  }

  .form {
    flex-direction: column;

    input {
      width: 80%;
      flex: none;
    }

    button {
      width: 80%;
      font-size: 10px;
    }
  }

  .tooltip.active {
    margin-bottom: 110px;
  }

  .tooltip:nth-child(2).active {
    margin-bottom: 160px;
  }

  .tooltip-body {
    position: absolute;
    text-align: center;
    top: 170%;
    left: -35px;
    width: calc(100vw - 80px);
    gap: 15px;
  }

  .tooltip:nth-child(2) .tooltip-body {
    left: -75px;
  }

  .range-slider-small > span {
    font-size: 12px !important;
  }
}
