.gradient-text {
  background: linear-gradient(
    90.26deg,
    #0035e2 60.1%,
    #4364f7 70.66%,
    #6fb1fc 80.22%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  > span {
    background: #000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.black-button {
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: bold;
  background: #000;
  color: #fff;
  border: 2px solid #000;
}

.bordered-button {
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: bold;
  background: #fff;
  color: #000;
  border: 2px solid #000;
}

.black-button.border-white,
.bordered-button.border-white {
  border-color: #fff;
}

.black-button.small,
.bordered-button.small {
  padding: 5px 10px;
}

.black-button.small-x,
.bordered-button.small-x {
  padding: 8px 4%;
}

.bordered-button.danger {
  border: 2px solid #ff0000;
  color: #ff0000;
}

.slider-container {
  position: relative;
  /* overflow: hidden; */
  padding: 0 40px;
}

.slide-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 100%;
  background: #f5f5f7;
  z-index: 9999;

  > span {
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    color: #222;
  }
}

.slide-btn:first-child {
  left: 0;
}

.slide-btn:last-child {
  right: 0;
}

.slider {
  transition: transform 0.5s ease-in-out;
}

.slider-item {
  flex: 0 0 calc((100% / 3) - 19px);
  transition: transform 0.3s ease;
  margin: 0 10px;
}

.slide-img-box {
  position: relative;
  height: 500px;
  overflow: hidden;
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.more-imgs {
  position: absolute;
  left: 0;
  top: -120%;
  transition: all 0.3s ease-in-out;
  background: #00000070;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  > img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
  }
}

.more-imgs .slider-container-fullscreen {
  display: none;
}

.more-imgs .slide-btn {
  display: none;
}

.fullscreen > img,
.fullscreen > ._result-body {
  display: none;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}

.slider-container-fullscreen {
  width: 37%;
  position: relative;
  overflow: hidden;
}

.text-result_body .slider-container-fullscreen {
  width: 440px;
}

.fullscreen .slider-container-fullscreen {
  display: flex;
}

.fullscreen .slide-btn {
  display: flex;
  background: transparent;
}

#fullscreen-slide-prev {
  left: 27%;
}

#fullscreen-slide-next {
  right: 27%;
}

.slider-container-fullscreen .slider-fullscreen {
  transition: transform 0.5s ease-in-out;
}

.slider-container-fullscreen .slider-item-fullscreen {
  width: 540px;
  height: 699px;
  transition: transform 0.3s ease;
  margin: 0 10px;
}

.slide-img-box:hover .more-imgs {
  top: 0;
}

.slider-item > figcaption {
  padding: 20px 20px 15px;
  background: #fff;
  box-shadow: 0px 5px 30px 0px #00000008;
  opacity: 0.8;
  > p > span {
    opacity: 0.5;
  }

  > span {
    font-weight: 300;
  }
}

.close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
}

/* ============ subscribe modal ============ */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  padding: 20px;
  background: #00000080;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 999999;
}

.subscribe-content {
  width: 80%;
  position: relative;
  padding: 40px;
  background: #f5f5f7;
}

.subscribe-form {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 15px;
}

.subscribe-info {
  grid-area: 1 / 1 / 1 / 6;
  background: #fff;
  height: 127px;
  box-shadow: 0px 5px 20px 0px #00000008;
}

.subscribe-img {
  grid-area: 2 / 1 / 5 / 6;
  overflow: hidden;
  height: 321px;

  > img {
    object-fit: cover;
  }
}

.subscribe-payment {
  grid-area: 1 / 6 / 5 / 9;
  background: #fff;
  height: 463px;
  padding: 40px 30px;
  box-shadow: 0px 5px 20px 0px #00000008;
}

._payment-body > label {
  align-items: flex-start;
}

._payment-option {
  border: 1px solid #000;
  height: 56px;

  > div > p {
    margin-top: -3px;
  }
}

._payment-option.small {
  height: 40px;
  border: 1px solid #0006;

  .fa-circle-check {
    display: none;
  }
}

._payment-option.small.active {
  border: 1px solid #000;

  .fa-circle-check {
    display: flex;
  }

  .fa-circle {
    display: none;
  }
}

._paymen_type {
  background: #0057ff0f;
  border-radius: 8px;
}

.payment-options {
  > img {
    width: 60px;
    height: 32px;
    border-radius: 5px;
    box-shadow: 0px 0px 16px 0px #0000000f;
  }
}

.subscribe-close,
.forgot-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
}
/* ============ subscribe modal ============ */

/* ============== forgot password ============== */
.forget-password {
  width: 500px;
  position: relative;
  padding: 40px;
  background: #f5f5f7;
}

.forget-password.change {
  width: 690px;
}

.forget-password-form {
  padding: 30px;
  background: #fff;

  p {
    letter-spacing: 1px;
  }
}

.form > input,
.unsubscribe-form input {
  border: 1px solid #00000070;
}

/* ============== forgot password ============== */

.tooltip {
  position: relative;
  width: 28px;
  height: 28px;
}

.tooltip-body {
  position: absolute;
  top: 0%;
  left: 135%;
  width: 170px;
  padding: 15px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  background: #fff;
  color: #000;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 9999;
  box-shadow: 0px 2px 10px 0px #0000001a;

  input:not(.range-slider__range-small) {
    display: none;
  }

  .close-tooltip {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .close-tooltip:hover {
    opacity: 1;
  }
}

.tooltip.active .tooltip-body {
  opacity: 1;
  visibility: visible;
}

.tooltip.active,
.tooltip:active {
  background: #d9d9d9;
}

.color-option {
  width: 16px;
  height: 16px;
  border: 4px solid;
  border-radius: 50%;
}

.color-option.active {
  background: #fff !important;
}

.text-bg-color {
  > span {
    padding: 0 3px;
    font-size: var(--fs5);
    color: #0035e2;
    border-bottom: 3px solid #0035e2;
  }
  > input {
    display: none;
  }
}

.text-del.passive,
.text-underline.passive,
.format-clear.passive {
  opacity: 0.6;
}

@media (max-width: 430px) {
  .slider-container {
    padding: 0 0px;
  }

  .slide-btn {
    display: none !important;
  }

  .slider{
    gap: 20px;
  }

  .slider-item {
    flex: 0 0 calc((100% / 1.7) - 15px);
    margin: 0;
  }

  .slide-img-box {
    height: 450px;
  }

  .subscribe-content {
    width: 100%;
    padding: 20px;
  }

  .subscribe-form {
    grid-template-columns: repeat(4, 1fr);
  }

  .subscribe-info {
    grid-area: 1 / 1 / 1 / 5;
  }

  .subscribe-img {
    grid-area: 2 / 1 / 5 / 5;
  }

  .subscribe-payment {
    grid-area: 1 / 5 / 5 / 9;
  }

  .forget-password {
    width: 100%;
  }

  .forget-password.change {
    width: 100%;
  }
}
