@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/myriad-pro/MYRIADPRO-BOLD.OTF") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/myriad-pro/MyriadPro-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/myriad-pro/MYRIADPRO-REGULAR.OTF") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Vasek";
  src: url("../fonts/Vasek\ Italic.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Caveat";
  src: url("../fonts/Caveat-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "StreetbrushW01-Regular";
  src: url("../fonts/streetbrushw01_regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "VoronovFont";
  src: url("../fonts/Voronov.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Yahfie";
  src: url("../fonts/Yahfie-Normal.ttf") format("truetype");
  font-weight: 400;
}

:root {
  --fs05: 10px;
  --fs1: 12px;
  --fs2: 14px;
  --fs3: 16px;
  --fs4: 18px;
  --fs5: 20px;
  --fs6: 22px;
  --fs7: 24px;
  --fs8: 26px;
  --fs9: 28px;
  --fs10: 30px;
  --fs11: 34px;
  --fs12: 44px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Myriad Pro", sans-serif;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

input,
textarea {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

.input-height{
  height: 34px !important;
  padding: 0 8%;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}
.cp {
  cursor: pointer;
}

.f1 {
  flex: 1;
}

.f2 {
  flex: 2;
}

.f3 {
  flex: 3;
}

.f50 {
  flex: 0 0 calc(50% - 13px);
}

.o03 {
  opacity: 0.3;
}

.o04 {
  opacity: 0.4;
}

.o05 {
  opacity: 0.5;
}

.o06 {
  opacity: 0.6;
}

.o07 {
  opacity: 0.7;
}

.o08 {
  opacity: 0.8;
}

.df {
  display: flex;
}

.aic {
  align-items: center;
}

.jc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.fdc {
  flex-direction: column;
}

.fww {
  flex-wrap: wrap;
}

.gap1 {
  gap: 5px;
}

.gap2 {
  gap: 10px;
}

.gap3 {
  gap: 15px;
}

.gap4 {
  gap: 20px;
}

.gap5 {
  gap: 25px;
}

.gap6 {
  gap: 30px;
}

.pd1 {
  padding: 5px;
}

.pd2 {
  padding: 10px;
}

.pd3 {
  padding: 15px;
}

.pd4 {
  padding: 20px;
}

.px1 {
  padding-left: 5px;
  padding-right: 5px;
}

.px2 {
  padding-left: 10px;
  padding-right: 10px;
}

.px3 {
  padding-left: 15px;
  padding-right: 15px;
}

.px4 {
  padding-left: 20px;
  padding-right: 20px;
}

.px5 {
  padding-left: 25px;
  padding-right: 25px;
}

.px6 {
  padding-left: 30px;
  padding-right: 30px;
}

.py1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py5 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.py6 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pt1 {
  padding-top: 5px;
}

.pt2 {
  padding-top: 10px;
}

.pb1 {
  padding-bottom: 5px;
}

.pb2 {
  padding-bottom: 10px;
}

.fs05 {
  font-size: var(--fs05);
}

.fs1 {
  font-size: var(--fs1);
}

.fs2 {
  font-size: var(--fs2);
}

.fs3 {
  font-size: var(--fs3);
}

.fs4 {
  font-size: var(--fs4);
}

.fs5 {
  font-size: var(--fs5);
}

.fs6 {
  font-size: var(--fs6);
}

.fs7 {
  font-size: var(--fs7);
}

.fs8 {
  font-size: var(--fs8);
}

.fs9 {
  font-size: var(--fs9);
}

.fs10 {
  font-size: var(--fs10);
}

.fs11 {
  font-size: var(--fs11);
}

.fs12 {
  font-size: var(--fs12);
}

.fw3 {
  font-weight: 300;
}

.fw4 {
  font-weight: 400;
}

.fw6 {
  font-weight: 600;
}

.rd5 {
  border-radius: 5px;
}

.rd10 {
  border-radius: 10px;
}

.rd15 {
  border-radius: 15px;
}

.rd20 {
  border-radius: 20px;
}

.shadow08 {
  background: #fff;
  box-shadow: 0px 5px 20px 0px #00000008;
}

.wrapper {
  min-height: 100dvh;
  background: #f5f5f7;
  padding: 30px 120px;
  gap: 50px;
}

.navbar {
  height: 56px;
  background: #fff;
  box-shadow: 0px 5px 20px 0px #00000008;
  border-radius: 10px;
  padding-right: 12px !important;
  font-size: 12px;
}
._left > a {
  color: #000;
  font-weight: 300;
  text-decoration: none;
}

.navbar-mobile-menu {
  gap: 3px;
  display: none;

  > span {
    width: 18px;
    height: 2px;
    background: #000;
    display: block;
  }
}

.footer {
  margin-top: 30px;
  padding: 2% 2% 3%;
  align-items: flex-start;
  color: #fff;
  background: #000;
}

.footer div > a {
  color: #fff;
  opacity: 0.8;
  font-weight: 400;
}

.footer div > section {
  display: none;
}

.footer-left-section {
  gap: 50px;
}

@media (max-width: 430px) {
  :root {
    --fs05: 8px;
    --fs1: 10px;
    --fs2: 12px;
    --fs3: 14px;
    --fs4: 16px;
    --fs5: 18px;
    --fs6: 20px;
    --fs7: 22px;
    --fs8: 24px;
    --fs9: 26px;
    --fs10: 28px;
    --fs11: 32px;
    --fs12: 42px;
  }

  .f50 {
    flex: 1;
  }

  .gap1 {
    gap: 3px;
  }

  .gap2 {
    gap: 6px;
  }

  .gap3 {
    gap: 9px;
  }

  .gap4 {
    gap: 12px;
  }

  .gap5 {
    gap: 15px;
  }

  .gap6 {
    gap: 18px;
  }

  .pd1 {
    padding: 3px;
  }

  .pd2 {
    padding: 6px;
  }

  .pd3 {
    padding: 9px;
  }

  .pd4 {
    padding: 12px;
  }

  .px1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .px2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .px3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .px4 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .px5 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .px6 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .py1 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .py2 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .py3 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .py4 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .py5 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .py6 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .pt1 {
    padding-top: 3px;
  }

  .pt2 {
    padding-top: 6px;
  }

  .pb1 {
    padding-bottom: 3px;
  }

  .pb2 {
    padding-bottom: 6px;
  }

  .fs05 {
    font-size: var(--fs05);
  }

  .wrapper {
    padding: 20px;
  }

  .navbar {
    padding: 20px !important;
  }

  ._left > a,
  ._right {
    display: none;
  }

  .navbar-mobile-menu {
    display: flex;
  }

  .footer {
    margin-top: 10px;
    padding: 10% 2% 10%;
    flex-direction: column;
    justify-content: center !important;
  }

  .footer-left-section {
    gap: 20px;
  }

  .footer-left-section>:first-child {
    margin-bottom: 8px;
  }

  .footer div {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .footer > section {
    display: none;
  }

  .footer div > section {
    display: flex;

    a {
      width: 50%;
      text-align: center;
    }
  }
}
