.text-generator > textarea {
  max-height: 180px;
  min-height: 180px;
  background: #fff;
}

.text-generator > textarea::placeholder {
  color: #0005;
}

.text-generator > textarea::-webkit-resizer {
  display: none;
}

.text-options {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.fonts {
  grid-area: 1 / 1 / 2 / 2;
  background: #fff;
  padding: 8%;
  height: 300px;
}

.font_contents {
  overflow-y: auto;
  padding-right: 10px;
}

.font_contents > label.active {
  background: #000000c9;
  color: #ffffff;
}

.font_contents > label > input {
  display: none;
}

.font_contents > label > p {
  font-size: 20px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.font-family1 > p {
  font-family: Vasek;
  font-style: italic;
}
.font-family2 > p {
  font-family: "Caveat";
}
.font-family3 > p {
  font-family: "StreetbrushW01-Regular";
  font-style: italic;
}
.font-family4 > p {
  font-family: "VoronovFont";
}
.font-family5 > p {
  font-family: Yahfie;
  font-weight: 600;
}
.font-family6 > p {
  font-style: italic;
}

.font_contents::-webkit-scrollbar {
  width: 3px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  background: #c9c9c9;
}

.font_contents::-webkit-scrollbar-thumb {
  background: #000;
  width: 3px;
  border-radius: 10px;
}

.text-result {
  max-width: 400px;
}

.text-result_body {
  display: none;
}

.text-result_body.active {
  display: flex;
}

.text-result_body.fullscreen {
  background: #00000070;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.text-result_body .slider-container-fullscreen {
  display: none;
}

.text-result_body .slide-btn {
  display: none;
}

.text-result_body.fullscreen ._result-body {
  width: 400px;
  height: 500px;
  margin: 0 20px;
}

._result-body {
  position: relative;
  background: #fff;
  width: 400px;
  height: 500px;
  background-image: url("../imgs/kubic-bg-1.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  > p {
    font-size: 24px;
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    color: #0035e2;
    line-height: 28px;
    overflow: hidden;

    span {
      font-size: inherit;
      font-family: inherit;
      line-height: 28px;
    }
  }

  > button {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 30px;
  }
}

.font-option {
  .fa-circle-check {
    display: none;
  }
}

.font-option.active {
  .fa-circle-check {
    display: flex;
  }

  .fa-circle {
    display: none;
  }
}

.history-container {
  position: relative;
  display: none;
}

.history-container.active {
  display: block;
}

.history-item {
  border: 1px solid transparent;
  white-space: nowrap;
  cursor: pointer;

  > div {
    display: none;
  }
}

.history-item.active {
  border-color: #000;

  > div {
    display: flex;
  }
}

.history-info {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.history-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px 40px 40px;
  background: #fff;
}

._result-footer {
  height: 70px;

  > ._footer-options {
    position: relative;
    height: 70px;
    background: #fff;

    > p.active {
      height: 100%;
      background: #000;
      color: #fff;
    }
  }

  > button {
    opacity: 0.2;
  }
}

.parametrs {
  grid-area: 1 / 2 / 2 / 6;
  align-items: flex-start;
  background: #fff;
}

.range-slider__range,
.range-slider__range-small {
  flex: 1;
  appearance: none;
  -webkit-appearance: none;
  height: 1px;
  background: #f5f5f7;
  outline: none;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000000cc;
    cursor: pointer;
  }

  &:active::-webkit-slider-thumb {
    background: #000;
  }
}

.range-slider__range-small {
  width: 100px;
}

.range-slider__value {
  color: #000;
}

.counter {
  > i {
    color: #000000a4;
  }

  > i:hover,
  > i:active {
    color: #000;
  }
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

.info-item {
  width: calc((100% / 3) - 10px);
}

.info-item > img {
  width: 100%;
  object-fit: cover;
}

.info-item > figcaption {
  padding: 20px;
  background: #fff;
  > span {
    font-weight: 300;
  }

  :where(p, span) {
    opacity: 0.8;
  }
}

.types {
  height: 70px;
  grid-area: 2 / 1 / 3 / 6;
  padding: 2% 2% 2% 4%;
  background: #fff;
}

.bg-type {
  width: 50px;
  height: 50px;
  overflow: hidden;

  > img {
    object-fit: cover;
  }

  > input {
    display: none;
  }
}

.bg-type.active {
  border: 1px solid #000;
}

.bg-type.new-upload {
  background: #000000cc;
  color: #fff;
}

@media (max-width: 430px) {
  .hero > h6 {
    flex-direction: column;
  }

  .text-options {
    display: flex;
    flex-direction: column;
  }

  .text-generator > textarea {
    max-height: 100px;
    min-height: 100px;
  }

  ._parametrs_header {
    flex-direction: column;
  }

  ._right-params {
    gap: 10px !important;
  }

  .fonts {
    padding: 10px;
  }

  .parametrs {
  }

  .types {
    height: 110px;
    flex-direction: column;
    justify-content: center !important;
    gap: 10px;
  }

  .text-result {
    max-width: 100%;
  }

  ._result-footer {
    flex-direction: column;

    > ._footer-options {
      width: 100%;
      flex: none;
      height: 48px;
      padding: 10px !important;
    }

    > button {
      width: 100%;
    }
  }

  .info-item {
    width: 100%;
  }
}
