details {
  position: relative;
  margin-bottom: 15px;
}

details span {
    line-height: 5;
}

summary::marker {
  content: none;
}

summary::after {
  content: "+";
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  transition: transform 0.3s ease;
  cursor: pointer;
  opacity: 0.8;
}

details[open] {
    margin-bottom: 0;
}

details[open] > summary::after {
  transform: rotate(135deg);
}
